body,
html,
#root {
  height: 100%;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.panel {
  width: 500px;
  height: 300px;
}

.answers {
  flex-direction: row;
  margin-top: 1rem;
}

button + button {
  margin-left: 1rem;
}

.wrong {
  position: absolute;
  color: red;
  left: 50%;
  transform: translateX(-50%);
}

.correct {
  position: absolute;
  color: green;
  left: 50%;
  transform: translateX(-50%);
}
